@using Microsoft.AspNetCore.Components.Routing

<Router AppAssembly="@typeof(FileManager.Maui.MauiProgram).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>
    <NotFound>
        <p>Page not found</p>
    </NotFound>
</Router>